<a href="https://colab.research.google.com/github/khareyash05/Multi-Modal-Parkinson-Disease-Detection-using-Transformers/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import numpy as np
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle

In [50]:
# ! mkdir ~/.kaggle

In [51]:
# ! cp kaggle.json ~/.kaggle/

In [52]:
# ! chmod 600 ~/.kaggle/kaggle.json

In [53]:
# ! kaggle datasets download -d gargmanas/parkinsonsdataset

In [54]:
# ! unzip parkinsonsdataset.zip

In [55]:
parkinsons_voice_data = pd.read_csv('/content/parkinsons.csv')

In [56]:
parkinsons_voice_data.head()

,name,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
0,phon_R01_S01_1,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,...,0.06545,0.02211,21.033,1,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,phon_R01_S01_2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,...,0.09403,0.01929,19.085,1,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,phon_R01_S01_3,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,...,0.08270,0.01309,20.651,1,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,phon_R01_S01_4,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,...,0.08771,0.01353,20.644,1,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,phon_R01_S01_5,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,...,0.10470,0.01767,19.649,1,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335

In [57]:
parkinsons_voice_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              195 non-null    object
 1   MDVP:Fo(Hz)       195 non-null    float64
 2   MDVP:Fhi(Hz)      195 non-null    float64
 3   MDVP:Flo(Hz)      195 non-null    float64
 4   MDVP:Jitter(%)    195 non-null    float64
 5   MDVP:Jitter(Abs)  195 non-null    float64
 6   MDVP:RAP          195 non-null    float64
 7   MDVP:PPQ          195 non-null    float64
 8   Jitter:DDP        195 non-null    float64
 9   MDVP:Shimmer      195 non-null    float64
 10  MDVP:Shimmer(dB)  195 non-null    float64
 11  Shimmer:APQ3      195 non-null    float64
 12  Shimmer:APQ5      195 non-null    float64
 13  MDVP:APQ          195 non-null    float64
 14  Shimmer:DDA       195 non-null    float64
 15  NHR               195 non-null    float64
 16  HNR               195 non-null    float64
 17  status            195 non-null    int64
 18  RPDE              195 non-null    float64
 19  DFA               195 non-null    float64
 20  spread1           195 non-null    float64
 21  spread2           195 non-null    float64
 22  D2                195 non-null    float64
 23  PPE               195 non-null    float64
dtypes: float64(22), int64(1), object(1)
memory usage: 36.7+ KB

In [58]:
parkinsons_voice_data.describe()

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,154.228641,197.104918,116.324631,0.006220,0.000044,0.003306,0.003446,0.009920,0.029709,0.282251,...,0.046993,0.024847,21.885974,0.753846,0.498536,0.718099,-5.684397,0.226510,2.381826,0.206552
std,41.390065,91.491548,43.521413,0.004848,0.000035,0.002968,0.002759,0.008903,0.018857,0.194877,...,0.030459,0.040418,4.425764,0.431878,0.103942,0.055336,1.090208,0.083406,0.382799,0.090119
min,88.333000,102.145000,65.476000,0.001680,0.000007,0.000680,0.000920,0.002040,0.009540,0.085000,...,0.013640,0.000650,8.441000,0.000000,0.256570,0.574282,-7.964984,0.006274,1.423287,0.044539
25%,117.572000,134.862500,84.291000,0.003460,0.000020,0.001660,0.001860,0.004985,0.016505,0.148500,...,0.024735,0.005925,19.198000,1.000000,0.421306,0.674758,-6.450096,0.174351,2.099125,0.137451
50%,148.790000,175.829000,104.315000,0.004940,0.000030,0.002500,0.002690,0.007490,0.022970,0.221000,...,0.038360,0.011660,22.085000,1.000000,0.495954,0.722254,-5.720868,0.218885,2.361532,0.194052
75%,182.769000,224.205500,140.018500,0.007365,0.000060,0.003835,0.003955,0.011505,0.037885,0.350000,...,0.060795,0.025640,25.075500,1.000000,0.587562,0.761881,-5.046192,0.279234,2.636456,0.252980
max,260.105000,592.030000,239.170000,0.033160,0.000260,0.021440,0.019580,0.064330,0.119080,1.302000,...,0.169420,0.314820,33.047000,1.000000,0.685151,0.825288,-2.434031,0.450493,3.671155,0.527367

In [59]:
parkinsons_voice_data['status'].value_counts()

1    147
0     48
Name: status, dtype: int64

1 - Parkinson
0 - Healthy

In [60]:
parkinsons_voice_data.groupby('status').mean()

,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,MDVP:Shimmer(dB),...,MDVP:APQ,Shimmer:DDA,NHR,HNR,RPDE,DFA,spread1,spread2,D2,PPE
status,,,,,,,,,,,,,,,,,,,,,
0,181.937771,223.636750,145.207292,0.003866,0.000023,0.001925,0.002056,0.005776,0.017615,0.162958,...,0.013305,0.028511,0.011483,24.678750,0.442552,0.695716,-6.759264,0.160292,2.154491,0.123017
1,145.180762,188.441463,106.893558,0.006989,0.000051,0.003757,0.003900,0.011273,0.033658,0.321204,...,0.027600,0.053027,0.029211,20.974048,0.516816,0.725408,-5.333420,0.248133,2.456058,0.233828

In [61]:
X = parkinsons_voice_data.drop(columns = ['name','status'],axis=1)
y = parkinsons_voice_data['status']

In [62]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [63]:
scaler = StandardScaler()

In [64]:
scaler.fit(X_train)

StandardScaler()

In [65]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [66]:
X_train

array([[ 0.63239631, -0.02731081, -0.87985049, ..., -0.97586547,
        -0.55160318,  0.07769494],
       [-1.05512719, -0.83337041, -0.9284778 , ...,  0.3981808 ,
        -0.61014073,  0.39291782],
       [ 0.02996187, -0.29531068, -1.12211107, ..., -0.43937044,
        -0.62849605, -0.50948408],
       ...,
       [-0.9096785 , -0.6637302 , -0.160638  , ...,  1.22001022,
        -0.47404629, -0.2159482 ],
       [-0.35977689,  0.19731822, -0.79063679, ..., -0.17896029,
        -0.47272835,  0.28181221],
       [ 1.01957066,  0.19922317, -0.61914972, ..., -0.716232  ,
         1.23632066, -0.05829386]])

In [67]:
from sklearn import svm

In [68]:
model = svm.SVC(kernel='linear')

In [69]:
model.fit(X_train,y_train)

SVC(kernel='linear')

In [70]:
pickle.dump(model, open('voicemodel.pkl', 'wb'))

In [71]:
# ! kaggle datasets download -d mohammadrezabaqery/parkinson-dataset

In [72]:
# ! unzip parkinson-dataset.zip

In [73]:
import tensorflow_hub as hub
import tensorflow as tf
import PIL.Image as Image
import cv2
import numpy as np
from keras.preprocessing.image import ImageDataGenerator

In [74]:
train_datagen = ImageDataGenerator(rescale=1./255,
                                        zoom_range=0.2,
                                        horizontal_flip=True,
                                        width_shift_range=0.3,
                                        height_shift_range=0.3)
x_train = train_datagen.flow_from_directory(
        '/content/spiral/training',
        target_size = (224,224),
        # color_mode="grayscale",
        batch_size=4,
        class_mode='binary'
        )

Found 77 images belonging to 2 classes.

In [75]:
test_datagen = ImageDataGenerator(rescale=1./255)
x_test = test_datagen.flow_from_directory(
        '/content/spiral/testing',
        target_size=(224,224),
        batch_size=4,
        # color_mode="grayscale",
        class_mode='binary')

Found 30 images belonging to 2 classes.

In [76]:
feature_extractor_model = "https://tfhub.dev/google/tf2-preview/mobilenet_v2/feature_vector/4"

pretrained_model_without_top_layer = hub.KerasLayer(
    feature_extractor_model, input_shape=(224,224,3), trainable=False)

In [77]:
classes = 1

img_model = tf.keras.Sequential([
  pretrained_model_without_top_layer,
  tf.keras.layers.Dense(classes)
])

img_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer_1 (KerasLayer)  (None, 1280)              2257984

 dense_1 (Dense)             (None, 1)                 1281

=================================================================
Total params: 2,259,265
Trainable params: 1,281
Non-trainable params: 2,257,984
_________________________________________________________________

In [78]:
img_model.compile(
  optimizer="adam",
  loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),  
  metrics=['acc'])

history = img_model.fit(x_train,epochs=20)

Epoch 1/20
20/20 [==============================] - 8s 171ms/step - loss: 0.7545 - acc: 0.5325
Epoch 2/20
20/20 [==============================] - 4s 179ms/step - loss: 0.6028 - acc: 0.5974
Epoch 3/20
20/20 [==============================] - 5s 212ms/step - loss: 0.5496 - acc: 0.7403
Epoch 4/20
20/20 [==============================] - 4s 172ms/step - loss: 0.5205 - acc: 0.7143
Epoch 5/20
20/20 [==============================] - 3s 168ms/step - loss: 0.5081 - acc: 0.7013
Epoch 6/20
20/20 [==============================] - 4s 192ms/step - loss: 0.5009 - acc: 0.6883
Epoch 7/20
20/20 [==============================] - 3s 167ms/step - loss: 0.4957 - acc: 0.7273
Epoch 8/20
20/20 [==============================] - 5s 230ms/step - loss: 0.4307 - acc: 0.7532
Epoch 9/20
20/20 [==============================] - 4s 167ms/step - loss: 0.4531 - acc: 0.7403
Epoch 10/20
20/20 [==============================] - 3s 167ms/step - loss: 0.4324 - acc: 0.7922
Epoch 11/20
20/20 [==============================] - 4s 173ms/step - loss: 0.4018 - acc: 0.7792
Epoch 12/20
20/20 [==============================] - 6s 269ms/step - loss: 0.3872 - acc: 0.7922
Epoch 13/20
20/20 [==============================] - 3s 167ms/step - loss: 0.4251 - acc: 0.7662
Epoch 14/20
20/20 [==============================] - 4s 221ms/step - loss: 0.4365 - acc: 0.7922
Epoch 15/20
20/20 [==============================] - 4s 182ms/step - loss: 0.4109 - acc: 0.8182
Epoch 16/20
20/20 [==============================] - 3s 166ms/step - loss: 0.3721 - acc: 0.8312
Epoch 17/20
20/20 [==============================] - 5s 245ms/step - loss: 0.3769 - acc: 0.8312
Epoch 18/20
20/20 [==============================] - 3s 164ms/step - loss: 0.3685 - acc: 0.8182
Epoch 19/20
20/20 [==============================] - 3s 172ms/step - loss: 0.3274 - acc: 0.8312
Epoch 20/20
20/20 [==============================] - 6s 301ms/step - loss: 0.3725 - acc: 0.8052

In [79]:
img_model.evaluate(x_train)

20/20 [==============================] - 5s 204ms/step - loss: 0.3399 - acc: 0.8312

[0.3399348556995392, 0.8311688303947449]

In [80]:
pickle.dump(img_model, open('imgmodel.pkl', 'wb'))

Tappy Keyboard Stroke dataset for Parkinson

In [81]:
# ! kaggle datasets download -d valkling/tappy-keystroke-data-with-parkinsons-patients

In [82]:
# ! unzip tappy-keystroke-data-with-parkinsons-patients.zip

In [83]:
import os
import re
from functools import partial
user_root = "/content/Archived-users/Archived users/"
user_fn_list = os.listdir(user_root)

In [84]:
def read_one_file(fn, root):
    out = dict()
    with open(root + fn) as f:
        for line in f.readlines():
            k, v = line.split(": ")
            out[k] = v.strip()
            out['ID'] = re.findall(r'_(\w+)\.', fn)[0]
    return out

In [85]:
users_list = list(map(partial(read_one_file, root=user_root), user_fn_list))

In [86]:
users = pd.DataFrame(users_list)
users.replace('------', np.nan, inplace=True)
users.replace('', np.nan, inplace=True)
users['Levadopa'] = users['Levadopa'] == 'True'
users['MAOB'] = users['MAOB'] == 'True'
users['Parkinsons'] = users['Parkinsons'] == 'True'
users['Tremors'] = users['Tremors'] == 'True'
users['Other'] = users['Other'] == 'True'

In [87]:
users.head()

,BirthYear,ID,Gender,Parkinsons,Tremors,DiagnosisYear,Sided,UPDRS,Impact,Levadopa,DA,MAOB,Other
0,1936,E0XRQVF05S,Female,False,False,NaN,None,Don't know,NaN,False,False,False,False
1,1938,7XS9VOLXWU,Female,True,True,2016,Right,Don't know,Medium,True,False,False,True
2,1948,FHEOPKL3QQ,Female,True,True,2014,Right,Don't know,Medium,False,False,False,False
3,1945,S9C3TTX3NE,Female,False,False,NaN,None,Don't know,NaN,False,False,False,False
4,1957,KCHR1NSQZO,Male,True,True,2013,Left,Don't know,Mild,True,False,False,False

In [88]:
keys_root = "/content/Archived-Data/Tappy Data/"
keys_fn_list = os.listdir(keys_root)

In [89]:
sample = pd.read_csv(keys_root + keys_fn_list[0], delimiter='\t', header=None, usecols=range(8))
sample.columns = ['ID', 'Date', 'TS', 'Hand', 'HoldTime', 'Direction', 'LatencyTime', 'FlightTime']
sample.head()

,ID,Date,TS,Hand,HoldTime,Direction,LatencyTime,FlightTime
0,LKR3NUMIFS,160921,19:23:15.328,L,0117.2,LL,0679.7,0546.9
1,LKR3NUMIFS,160921,19:23:15.984,L,0164.1,LL,0609.4,0492.2
2,LKR3NUMIFS,160921,19:43:01.297,R,0070.3,LR,0742.2,0664.1
3,LKR3NUMIFS,160921,19:43:01.664,L,0117.2,RL,0320.3,0250.0
4,LKR3NUMIFS,160921,19:43:16.609,R,0054.7,RR,0281.3,0210.9

In [90]:
from pandas.errors import EmptyDataError
def read_one_key_file(fn, root):
    try:
        df = pd.read_csv(root + fn, delimiter='\t', header=None, error_bad_lines=False,
                         usecols=range(8), low_memory=False,
                        dtype={0:'str', 1:'str', 2:'str', 3:'str', 4:'float', 5:'str', 6:'float', 7:'float'})
        df.columns = ['ID', 'Date', 'TS', 'Hand', 'HoldTime', 'Direction', 'LatencyTime', 'FlightTime']
    except ValueError:
        # should try to remove the bad lines and return
#         df = pd.DataFrame(columns = ['ID', 'Date', 'TS', 'Hand', 'HoldTime', 'Direction', 'LatencyTime', 'FlightTime'])
        try:
            df = pd.read_csv(root + fn, delimiter='\t', header=None, error_bad_lines=False,
                             usecols=range(8), low_memory=False)
            df.columns = ['ID', 'Date', 'TS', 'Hand', 'HoldTime', 'Direction', 'LatencyTime', 'FlightTime']
            df = df[df['ID'].apply(lambda x: len(str(x)) == 10)
                   & df['Date'].apply(lambda x: len(str(x)) == 6)
                   & df['TS'].apply(lambda x: len(str(x)) == 12)
                   & np.in1d(df['Hand'], ["L", "R", "S"])
                   & df['HoldTime'].apply(lambda x: re.search(r"[^\d.]", str(x)) is None)
                   & np.in1d(df['Direction'], ['LL', 'LR', 'RL', 'RR', 'LS', 'SL', 'RS', 'SR', 'RR'])
                   & df['LatencyTime'].apply(lambda x: re.search(r"[^\d.]", str(x)) is None)
                   & df['FlightTime'].apply(lambda x: re.search(r"[^\d.]", str(x)) is None)]
            df['HoldTime'] = df['HoldTime'].astype(np.float)
            df['LatencyTime'] = df['HoldTime'].astype(np.float)
            df['FlightTime'] = df['HoldTime'].astype(np.float)
        except EmptyDataError:
            df =  pd.DataFrame(columns = ['ID', 'Date', 'TS', 'Hand', 'HoldTime', 'Direction', 'LatencyTime', 'FlightTime'])
    except EmptyDataError:
        df =  pd.DataFrame(columns = ['ID', 'Date', 'TS', 'Hand', 'HoldTime', 'Direction', 'LatencyTime', 'FlightTime'])
    return df

In [91]:
keys_list = list(map(partial(read_one_key_file, root=keys_root), keys_fn_list))

<ipython-input-91-ae88b3b6fa7d>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  keys_list = list(map(partial(read_one_key_file, root=keys_root), keys_fn_list))
<ipython-input-90-4b959e84814f>:23: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df['HoldTime'] = df['HoldTime'].astype(np.float)
<ipython-input-90-4b959e84814f>:24: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df['LatencyTime'] = df['HoldTime'].astype(np.float)
<ipython-input-90-4b959e84814f>:25: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df['FlightTime'] = df['HoldTime'].astype(np.float)
<ipython-input-90-4b959e84814f>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HoldTime'] = df['HoldTime'].astype(np.float)
<ipython-input-90-4b959e84814f>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['LatencyTime'] = df['HoldTime'].astype(np.float)

In [92]:
keys = pd.concat(keys_list, ignore_index=True, axis=0)

In [93]:
keys.head()

,ID,Date,TS,Hand,HoldTime,Direction,LatencyTime,FlightTime
0,LKR3NUMIFS,160921,19:23:15.328,L,117.2,LL,117.2,117.2
1,LKR3NUMIFS,160921,19:23:15.984,L,164.1,LL,164.1,164.1
2,LKR3NUMIFS,160921,19:43:01.297,R,70.3,LR,70.3,70.3
3,LKR3NUMIFS,160921,19:43:01.664,L,117.2,RL,117.2,117.2
4,LKR3NUMIFS,160921,19:43:16.609,R,54.7,RR,54.7,54.7

In [94]:
key_id_set = set(keys['ID'].unique())
print("total user ids in key logs: {0}".format(len(key_id_set)))
user_id_set = set(users['ID'].unique())
print("total user ids in user info: {0}".format(len(user_id_set)))
overlap_id_set = key_id_set.intersection(user_id_set)
print("overlapping ids: {0}".format(len(overlap_id_set)))
diff_id_set = key_id_set.symmetric_difference(user_id_set)
print("non-matching ids: {0}".format(len(diff_id_set)))

total user ids in key logs: 277
total user ids in user info: 227
overlapping ids: 217
non-matching ids: 70

In [95]:
sufficient_keys = keys.groupby('ID').size() >= 2000
user_w_sufficient_data = set(sufficient_keys.index[sufficient_keys])
user_eligible = set(users[((users['Parkinsons']) & (users['Impact'] == 'Mild') 
                       | (~users['Parkinsons']))
                      & (~users['Levadopa'])]['ID'])
user_valid = user_w_sufficient_data.intersection(user_eligible)

In [96]:
valid_keys = keys[np.isin(keys['ID'], list(user_valid))]

valid_keys.shape

(3658979, 8)

In [97]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import VotingClassifier
from sklearn.model_selection import cross_validate, cross_val_score, train_test_split, KFold, StratifiedKFold
from scipy.stats import skew, kurtosis
from sklearn.preprocessing import StandardScaler
from sklearn.base import clone, BaseEstimator, TransformerMixin

import os
from functools import partial
import re
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

In [98]:
hold_by_user =  valid_keys[valid_keys['Hand'] != 'S'].groupby(['ID', 'Hand'])['HoldTime'].agg([np.mean, np.std, skew, kurtosis])

In [99]:
hold_by_user.head(10)

                       mean        std      skew  kurtosis
ID         Hand
48DZPAJ5NS L     125.093648  21.344768  0.433347  5.116874
           R     125.944823  20.440962  0.122130  5.692705
5PQVTWULAC L     131.724002  37.064749  0.978465  7.127388
           R     113.398834  29.041533 -0.062599  0.907739
5USOYSDCXB L      72.152276  26.076473  0.141122  0.888681
           R      74.706504  23.756390 -0.265969  1.671472
6LB9FQABZQ L     126.497906  66.799577  0.268232  0.026491
           R      98.527829  48.547446  0.054386  0.672722
81NEUZEBXI L     129.715948  38.823109  0.309899  1.394108
           R     128.692870  41.264629  0.511903  1.878552

In [100]:
latency_by_user = valid_keys[np.isin(valid_keys['Direction'], ['LL', 'LR', 'RL', 'RR'])].groupby(['ID', 'Direction'])['LatencyTime'].agg([np.mean, np.std, skew, kurtosis])

In [101]:
latency_by_user.head(10)

                            mean         std      skew   kurtosis
ID         Direction
48DZPAJ5NS LL         300.190663   81.809939  0.361579  -0.565283
           LR         335.274126   81.450453  0.020670  -0.705773
           RL         321.053098   88.512695  0.143658  -0.929929
           RR         332.504906   90.989458 -0.052046  -1.042327
5PQVTWULAC LL         358.358252  121.124398  0.928077   2.024448
           LR         478.761804  128.429826 -0.016904  -0.323100
           RL         454.325847  135.090148  0.386154  -0.000415
           RR         383.152730  137.104995  0.611069   0.306093
5USOYSDCXB LL         177.817371   85.552371  1.835981   8.081838
           LR         139.949558   85.228366  3.126761  14.456914

In [102]:
hold_by_user_flat = hold_by_user.unstack()
hold_by_user_flat.columns = ['_'.join(col).strip() for col in hold_by_user_flat.columns.values]
hold_by_user_flat['mean_hold_diff'] = hold_by_user_flat['mean_L'] - hold_by_user_flat['mean_R']
hold_by_user_flat.head()

,mean_L,mean_R,std_L,std_R,skew_L,skew_R,kurtosis_L,kurtosis_R,mean_hold_diff
ID,,,,,,,,,
48DZPAJ5NS,125.093648,125.944823,21.344768,20.440962,0.433347,0.122130,5.116874,5.692705,-0.851175
5PQVTWULAC,131.724002,113.398834,37.064749,29.041533,0.978465,-0.062599,7.127388,0.907739,18.325168
5USOYSDCXB,72.152276,74.706504,26.076473,23.756390,0.141122,-0.265969,0.888681,1.671472,-2.554228
6LB9FQABZQ,126.497906,98.527829,66.799577,48.547446,0.268232,0.054386,0.026491,0.672722,27.970077
81NEUZEBXI,129.715948,128.692870,38.823109,41.264629,0.309899,0.511903,1.394108,1.878552,1.023078

In [103]:
latency_by_user_flat = latency_by_user.unstack()
latency_by_user_flat.columns = ['_'.join(col).strip() for col in latency_by_user_flat.columns.values]
latency_by_user_flat['mean_LR_RL_diff'] = latency_by_user_flat['mean_LR'] - latency_by_user_flat['mean_RL']
latency_by_user_flat['mean_LL_RR_diff'] = latency_by_user_flat['mean_LL'] - latency_by_user_flat['mean_RR']
latency_by_user_flat.head()

,mean_LL,mean_LR,mean_RL,mean_RR,std_LL,std_LR,std_RL,std_RR,skew_LL,skew_LR,skew_RL,skew_RR,kurtosis_LL,kurtosis_LR,kurtosis_RL,kurtosis_RR,mean_LR_RL_diff,mean_LL_RR_diff
ID,,,,,,,,,,,,,,,,,,
48DZPAJ5NS,300.190663,335.274126,321.053098,332.504906,81.809939,81.450453,88.512695,90.989458,0.361579,0.020670,0.143658,-0.052046,-0.565283,-0.705773,-0.929929,-1.042327,14.221029,-32.314242
5PQVTWULAC,358.358252,478.761804,454.325847,383.152730,121.124398,128.429826,135.090148,137.104995,0.928077,-0.016904,0.386154,0.611069,2.024448,-0.323100,-0.000415,0.306093,24.435956,-24.794478
5USOYSDCXB,177.817371,139.949558,145.719255,176.761511,85.552371,85.228366,93.083272,83.494383,1.835981,3.126761,2.885283,1.269504,8.081838,14.456914,11.615300,6.435207,-5.769697,1.055860
6LB9FQABZQ,164.435681,147.560261,140.279823,153.614464,115.526340,124.538329,96.912507,108.109519,2.213465,2.475045,2.705128,2.303681,6.808226,7.120620,11.073373,7.515809,7.280438,10.821217
81NEUZEBXI,290.175870,283.684444,250.171244,298.446718,104.348556,115.299929,121.395210,110.748243,-0.004796,-0.044029,0.535980,-0.172322,-0.741370,-1.120918,-1.034998,-0.787168,33.513200,-8.270847

In [104]:
combined = pd.concat([hold_by_user_flat, latency_by_user_flat], axis=1)

In [105]:
combined.head()

,mean_L,mean_R,std_L,std_R,skew_L,skew_R,kurtosis_L,kurtosis_R,mean_hold_diff,mean_LL,...,skew_LL,skew_LR,skew_RL,skew_RR,kurtosis_LL,kurtosis_LR,kurtosis_RL,kurtosis_RR,mean_LR_RL_diff,mean_LL_RR_diff
ID,,,,,,,,,,,,,,,,,,,,,
48DZPAJ5NS,125.093648,125.944823,21.344768,20.440962,0.433347,0.122130,5.116874,5.692705,-0.851175,300.190663,...,0.361579,0.020670,0.143658,-0.052046,-0.565283,-0.705773,-0.929929,-1.042327,14.221029,-32.314242
5PQVTWULAC,131.724002,113.398834,37.064749,29.041533,0.978465,-0.062599,7.127388,0.907739,18.325168,358.358252,...,0.928077,-0.016904,0.386154,0.611069,2.024448,-0.323100,-0.000415,0.306093,24.435956,-24.794478
5USOYSDCXB,72.152276,74.706504,26.076473,23.756390,0.141122,-0.265969,0.888681,1.671472,-2.554228,177.817371,...,1.835981,3.126761,2.885283,1.269504,8.081838,14.456914,11.615300,6.435207,-5.769697,1.055860
6LB9FQABZQ,126.497906,98.527829,66.799577,48.547446,0.268232,0.054386,0.026491,0.672722,27.970077,164.435681,...,2.213465,2.475045,2.705128,2.303681,6.808226,7.120620,11.073373,7.515809,7.280438,10.821217
81NEUZEBXI,129.715948,128.692870,38.823109,41.264629,0.309899,0.511903,1.394108,1.878552,1.023078,290.175870,...,-0.004796,-0.044029,0.535980,-0.172322,-0.741370,-1.120918,-1.034998,-0.787168,33.513200,-8.270847

In [106]:
full_set = pd.merge(combined.reset_index(), users[['ID', 'Parkinsons']], on='ID')
full_set.set_index('ID', inplace=True)
# full_set.dropna(inplace=True)  # should investigate why there are NAs despite choosing sequence length >= 2000
full_set.shape

(52, 28)

In [107]:
full_set.head()

,mean_L,mean_R,std_L,std_R,skew_L,skew_R,kurtosis_L,kurtosis_R,mean_hold_diff,mean_LL,...,skew_LR,skew_RL,skew_RR,kurtosis_LL,kurtosis_LR,kurtosis_RL,kurtosis_RR,mean_LR_RL_diff,mean_LL_RR_diff,Parkinsons
ID,,,,,,,,,,,,,,,,,,,,,
48DZPAJ5NS,125.093648,125.944823,21.344768,20.440962,0.433347,0.122130,5.116874,5.692705,-0.851175,300.190663,...,0.020670,0.143658,-0.052046,-0.565283,-0.705773,-0.929929,-1.042327,14.221029,-32.314242,True
5PQVTWULAC,131.724002,113.398834,37.064749,29.041533,0.978465,-0.062599,7.127388,0.907739,18.325168,358.358252,...,-0.016904,0.386154,0.611069,2.024448,-0.323100,-0.000415,0.306093,24.435956,-24.794478,True
5USOYSDCXB,72.152276,74.706504,26.076473,23.756390,0.141122,-0.265969,0.888681,1.671472,-2.554228,177.817371,...,3.126761,2.885283,1.269504,8.081838,14.456914,11.615300,6.435207,-5.769697,1.055860,True
6LB9FQABZQ,126.497906,98.527829,66.799577,48.547446,0.268232,0.054386,0.026491,0.672722,27.970077,164.435681,...,2.475045,2.705128,2.303681,6.808226,7.120620,11.073373,7.515809,7.280438,10.821217,False
81NEUZEBXI,129.715948,128.692870,38.823109,41.264629,0.309899,0.511903,1.394108,1.878552,1.023078,290.175870,...,-0.044029,0.535980,-0.172322,-0.741370,-1.120918,-1.034998,-0.787168,33.513200,-8.270847,False

In [108]:
# ! pip install umap-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting umap-learn
  Downloading umap-learn-0.5.3.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.2/88.2 KB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.8/dist-packages (from umap-learn) (1.21.6)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.8/dist-packages (from umap-learn) (1.0.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.8/dist-packages (from umap-learn) (1.7.3)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.8/dist-packages (from umap-learn) (0.56.4)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.8.tar.gz (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 22.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from umap-learn) (4.64.1)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.8/dist-packages (from numba>=0.49->umap-learn) (6.0.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.8/dist-packages (from numba>=0.49->umap-learn) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from numba>=0.49->umap-learn) (57.4.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from pynndescent>=0.5->umap-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.22->umap-learn) (3.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata->numba>=0.49->umap-learn) (3.12.0)
Building wheels for collected packages: umap-learn, pynndescent
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.3-py3-none-any.whl size=82829 sha256=ba69810f41acd2d789a538d8a20f32892f72c89a0610a7456e13db8109c55067
  Stored in directory: /root/.cache/pip/wheels/a9/3a/67/06a8950e053725912e6a8c42c4a3a241410f6487b8402542ea
  Building wheel for pynndescent (setup.py) ... done
  Created wheel for pynndescent: filename=pynndescent-0.5.8-py3-none-any.whl size=55513 sha256=3bf32bf644a05d471777b1ea64a50604abc505951e0d8dea836b52397a6f1e2b
  Stored in directory: /root/.cache/pip/wheels/1c/63/3a/29954bca1a27ba100ed8c27973a78cb71b43dc67aed62e80c3
Successfully built umap-learn pynndescent
Installing collected packages: pynndescent, umap-learn
Successfully installed pynndescent-0.5.8 umap-learn-0.5.3

In [109]:
import umap.umap_ as umap
umapModel = umap.UMAP()
embed = umapModel.fit_transform(full_set.iloc[:, :-1], full_set.iloc[:, -1])

In [110]:
from sklearn.svm import LinearSVC
keystroke_model = LinearSVC()
rs = 42

train_X = np.concatenate([full_set.iloc[:, :-1], pd.DataFrame(embed)], axis=1)
train_y = full_set.iloc[:, -1]

scoring = ['accuracy', 'f1', 'roc_auc']
scores= cross_validate(
    keystroke_model,
    train_X,
    train_y,
    cv=StratifiedKFold(n_splits=5, random_state=rs,shuffle=True),
    scoring=scoring,
    return_train_score=True
)

In [121]:
keystroke_model = keystroke_model.fit(train_X,train_y)

In [122]:
pickle.dump(keystroke_model, open('keystrokemodel.pkl', 'wb'))

In [119]:
r = scores['test_accuracy']
tappy_accuracy = sum(r)/len(r)
tappy_accuracy

0.809090909090909

In [120]:
result = pd.DataFrame(scores)
result.index.name = "fold"
result

,fit_time,score_time,test_accuracy,train_accuracy,test_f1,train_f1,test_roc_auc,train_roc_auc
fold,,,,,,,,
0,0.004771,0.004102,0.727273,0.902439,0.727273,0.875000,1.000000,0.866667
1,0.004601,0.002653,0.818182,0.951220,0.750000,0.937500,0.750000,0.958974
2,0.006183,0.003323,0.900000,0.928571,0.888889,0.909091,0.958333,0.928395
3,0.004800,0.002700,0.800000,0.976190,0.750000,0.965517,0.833333,0.935802
4,0.004586,0.002585,0.800000,0.952381,0.750000,0.937500,0.904762,0.937500

In [112]:
from sentence_transformers import SentenceTransformer, util
model = SentenceTransformer('stsb-distilbert-base')
model.max_seq_length = 128

ModuleNotFoundError: ignored

In [ ]:
IMG_SIZE = 224
size = (IMG_SIZE,IMG_SIZE)
img_model = tf.keras.applications.MobileNet(input_shape = (IMG_SIZE, IMG_SIZE, 3), include_top = False, weights = 'imagenet' )

In [ ]:
def get_textEmbeddings(model,text):
    text_embedding = model.encode(text, convert_to_tensor=True)
    return text_embedding

In [ ]:
def get_imageEmbeddings(model,imagePath):
    image = tf.keras.preprocessing.image.load_img(imagePath,target_size= size)
    input_arr = tf.keras.preprocessing.image.img_to_array(image)
    input_arr = np.array([input_arr])
    img_embeddings = model(input_arr)
    meanImgEmb1 = np.mean(img_embeddings,axis =0)
    meanImgEmb2 = np.mean(meanImgEmb1,axis=0)
    meanImgEmb = np.mean(meanImgEmb2,axis=0)
    return meanImgEmb

In [ ]:
import pickle
with open('./textEmb','wb') as handle:
    pickle.dump(text_embeddings,handle)
with open('./imgEmb','wb') as handle:
    pickle.dump(image_embeddings,handle)

In [ ]:
keyList=[]
cembList=[]
imageList=[]
titleList=[]
for index, row in X_train.iterrows():
    #start_time=time.time()
    txt_emb = text_embeddings[row[0]]
    img_emb = image_embeddings[row[0]] 
    cmb_emb = np.concatenate((txt_emb,img_emb),axis=0)
    norm = np.linalg.norm(cmb_emb)
    cmb_emb_normal = cmb_emb/norm
    keyList.append(row[0])
    cembList.append(cmb_emb_normal)
    imageList.append(row[1])
    titleList.append(row[3])